---
import { ADDONS } from "@/consts";
import AddOn from "./AddOn.astro";
import type { languages } from "@/i18n/ui";

interface Props {
  lang: keyof typeof languages;
}

const { lang } = Astro.props;
const addons = ADDONS[lang];
---

<div class="grid grid-cols-2 gap-2 md:gap-8 lg:grid-cols-4">
  {addons.map((addon) => <AddOn {...addon} />)}
</div>
