---
import type { SanityDocument } from "@sanity/client";
import { sanityClient } from "sanity:client";
import MenuItem from "./MenuItem.astro";
import { Category } from "@/types";

const params = Astro.url.searchParams;
const category = params.get("category") || Category.coffee;

const MENU_ITEMS_QUERY = `*[_type == "menuItem" && category == "${category}" && available == true] | order(name){_id, name, category, price, image}`;

const menuItems = await sanityClient.fetch<SanityDocument[]>(MENU_ITEMS_QUERY);
---

<div class="grid grid-cols-2 items-center gap-4 md:grid-cols-4">
  {
    menuItems.map((item) => (
      <div class="place-self-center">
        <MenuItem menuItem={item} />
      </div>
    ))
  }
</div>
