---
import Layout from '@/layouts/Layout.astro';
import Smoke from '@assets/icons/smoke.svg';
import Line from '@assets/icons/line.svg';
---

<Layout title='UBean - About Us'>
  <main class='mx-auto mt-16 flex min-h-[calc(100vh-74px-122px)] max-w-4xl flex-col items-center gap-10'>
    <div class='flex flex-col items-center gap-8'>
      <Smoke width={100} />
      <h1 class='text-h3 uppercase'>Our story</h1>
    </div>
    <div class='space-y-10'>
      <div class='parallax-container aspect-[2/1] overflow-hidden rounded-[40px]'>
        <img src='/images/aboutus-1.webp' class='parallax-img size-full origin-top object-cover' />
      </div>
      <p class='text-b1 text-center font-light'>
        Since its inception in 2006 as a project to reach out young people through building community where they can
        grow and learn together, UBEAN had been a place that made positive impact in the lives of their customers
        through its services and building meaningful relationships. UBean will continue to be a community coffee shop
        that values people over profit while sustaining its excellence in the coffee quality. We serve premium quality
        coffee beans at the lowest possible price.
      </p>
    </div>
    <Line />
    <div class='flex flex-col items-center gap-16 md:w-[calc(100%-200px)]'>
      <div class='max-w-xl space-y-6 text-center'>
        <h2 class='text-h4 uppercase'>Our vision</h2>
        <p class='text-b1 font-light'>
          "Crafting Mongolia's finest coffee experience with exceptional quality, unwavering excellence, integrity, and
          meaningful connections."
        </p>
      </div>
      <div class='parallax-container aspect-[2/1] overflow-hidden rounded-[40px]'>
        <img src='/coffee-brew.webp' class='size-full origin-center object-cover' />
      </div>
    </div>
    <Line />
    <div class='mb-16 flex flex-col items-center gap-16 md:w-[calc(100%-200px)]'>
      <div class='max-w-xl space-y-6 text-center'>
        <h2 class='text-h4 uppercase'>Our mission</h2>
        <p class='text-b1 font-light'>
          "Our mission is to deliver Mongolia's finest coffee experience through exceptional quality, consistent
          excellence, and genuine connections. We value continuous improvement, honesty, and integrity, fostering a
          welcoming environment where our community feels known and valued. Together, we aim to make a positive impact
          through our shared passion for coffee."
        </p>
      </div>
      <div class='parallax-container aspect-[2/1] overflow-hidden rounded-[40px]'>
        <img src='/images/aboutus-2.webp' class='parallax-img size-full origin-top object-cover' />
      </div>
    </div>
  </main>
</Layout>

<!-- <script>
  import { gsap } from 'gsap';
  import { ScrollTrigger } from 'gsap/ScrollTrigger';

  gsap.registerPlugin(ScrollTrigger);

  const parallaxImages = document.querySelectorAll('.parallax-img');

  parallaxImages.forEach((img) => {
    const parallaxSpeed = -100;

    gsap.fromTo(
      img,
      {
        y: 0,
        transformOrigin: 'top',
      },
      {
        y: parallaxSpeed,
        ease: 'none',
        transformOrigin: 'top',
        scrollTrigger: {
          trigger: img.parentElement,
          start: 'top bottom',
          end: 'bottom top',
          scrub: true,
        },
      },
    );
  });
</script> -->

<!-- <style>
  .parallax-img {
    transform: scale(1.2); /* Slightly scale up to cover edges during movement */
  }
</style> -->
