---
import AddOnList from "@/components/menu/AddOnList.astro";
import CategoryButtons from "@/components/menu/CategoryButtons";
import MenuList from "@/components/menu/MenuList.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="UBean - Menu">
  <main
    class="my-32 flex flex-col items-center min-h-screen w-full container max-w-6xl mx-auto"
  >
    <div class="flex flex-col gap-6 text-center max-w-xl">
      <h1 class="animate text-h2">Menu</h1>
      <h2 class="animate text-b2">
        "Making coffee art is an experience we thoroughly enjoy creating, and we
        hope that so will you."
      </h2>
    </div>
    <div class="animate mt-20 mb-16">
      <CategoryButtons client:load />
    </div>
    <div class="animate w-full space-y-20">
      <MenuList />
      <AddOnList />
    </div>
  </main>
</Layout>
