---
import type { languages } from "@/i18n/ui";
import { useTranslations } from "@/i18n/utils";
import Smoke from "@assets/icons/smoke.svg";

interface Props {
  lang: keyof typeof languages;
}

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<section
  class="relative aspect-[1290/550] w-full overflow-hidden rounded-[50px]"
>
  <mux-player
    class="size-full object-cover"
    playback-id="Gtmx5sme3IckVw2u5vXesfT02xXA62QAfqfDIAN02VSz00"
    metadata-video-id="bAdLgCCx72xWn7epwLpPy00ln5N3l3RIzaXmcGirqe1g"
    metadata-video-title="hero"
    poster="https://image.mux.com/Gtmx5sme3IckVw2u5vXesfT02xXA62QAfqfDIAN02VSz00/thumbnail.png?width=214&height=121&time=5&fit_mode=preserve"
    stream-type="on-demand"
    preload
    loop
    muted
    autoplay></mux-player>
  <div class="absolute inset-0 z-10 rounded-[50px] bg-black/65"></div>

  <div
    class="absolute inset-0 z-20 mx-auto flex w-full max-w-3xl flex-col items-center justify-center px-4 text-center text-white"
  >
    <Smoke class="animate mb-16" width={74} height={128} />
    <h1 class="animate text-h1 font-bold uppercase">{t("home.hero.title")}</h1>
    <p class="animate text-b1 mt-4 font-normal">
      {t("home.hero.desc")}
    </p>
  </div>
</section>

<script is:inline src="https://cdn.jsdelivr.net/npm/@mux/mux-player" defer
></script>
