---

---

<section class="relative flex items-center justify-center gap-10">
  <div class="flex max-w-64 flex-col gap-6 text-left">
    <h4 class="text-h2">SINCE 2012</h4>
    <span class="text-b1 font-normal"
      >We deliver Mongolia’s finest coffee with quality, integrity, and a
      commitment to community.</span
    >
  </div>
  <div class="aspect-[5/3] h-72 rounded-4xl bg-gray-200"></div>
</section>
