---
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import ContactImage from "@assets/images/contact.webp";
import PhoneIcon from "@assets/icons/phone.svg";
import ContactForm from "@/components/contact/ContactForm";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={`UBean - ${t("contact.title")}`}>
  <main
    class="mx-auto flex min-h-[calc(100vh-74px-122px)] max-w-4xl items-center"
  >
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:gap-16">
      <div
        class="group aspect-video h-full w-full overflow-hidden rounded-4xl transition-shadow hover:shadow-xl md:aspect-[4/5]"
      >
        <Image
          src={ContactImage}
          alt="Contact Us"
          class="size-full object-cover transition-transform group-hover:scale-105"
        />
      </div>
      <section class="flex w-full max-w-md flex-col items-center gap-6">
        <h2 class="text-h4 uppercase">{t("contact.contact")}</h2>
        <div class="flex gap-4">
          <PhoneIcon />
          <span class="text-b1">99837165, 86038620, 99590593</span>
        </div>
        <ContactForm lang={lang} client:load />
      </section>
    </div>
  </main>
</Layout>
