---
import Logo from "@/assets/icons/logo.svg";
import Facebook from "@/assets/icons/facebook.svg";
import Instagram from "@/assets/icons/instagram.svg";
---

<footer class="grid grid-cols-3 items-center py-8">
  <Logo />
  <span class="text-b4 justify-self-center"
    >© 2025 UBean. All rights reserved.</span
  >
  <div class="flex gap-4 justify-self-end">
    <Facebook />
    <Instagram />
  </div>
</footer>
