---
import Logo from "../assets/icons/logo.svg";
---

<nav class="grid grid-cols-3 items-center py-4">
  <Logo class="justify-self-start" />
  <div class="flex items-center justify-between gap-2">
    <a href="/">Home</a>
    <a href="/menu">Menu</a>
    <a href="/about-us">About</a>
    <a href="/contact">Contact</a>
  </div>
  <div class="justify-self-end">MN</div>
</nav>
